{{> header}}

<main class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <div class="box">
          <form class="password-update-form">
            <h1 class="title is-4 has-text-centered">Welcome to the Tech Blog, {{username}}!</h1>
            <div class="field">
              <label class="label" for="current-password">Current Password:</label>
              <div class="control">
                <input class="input" type="password" id="current-password" placeholder="Enter your current password">
              </div>
            </div>
            <div class="field">
              <label class="label" for="password-change">Change Password:</label>
              <div class="control">
                <input class="input" type="password" id="password-change" placeholder="Enter your new password">
              </div>
            </div>
            <div class="field">
              <div class="control">
                <button class="button is-primary is-fullwidth" type="submit">Change Password</button>
              </div>
            </div>
          </form>
        </div>
        <div id="passwordMessage"></div>
        <div class="box">
          <h2 class="title is-4 has-text-centered">Your Posts</h2>
          {{#each posts}}
          <article class="media">
            <div class="media-content">
              <form class="edit-post-form" data-id="{{this.id}}">
                <div class="field">
                  <label class="label" for="post-title-{{this.id}}">Title:</label>
                  <div class="control">
                    <input class="input" type="text" id="post-title-{{this.id}}" value="{{this.title}}">
                  </div>
                </div>
                <div class="field">
                  <label class="label" for="post-content-{{this.id}}">Content:</label>
                  <div class="control">
                    <textarea class="textarea" id="post-content-{{this.id}}">{{this.content}}</textarea>
                  </div>
                </div>
                <div class="field">
                  <div class="control">
                    <button class="button is-info" type="submit">Update Post</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="media-right">
              <button class="delete-post button is-danger" data-id="{{this.id}}"><i
                  class="fa-solid fa-trash"></i></button>
            </div>
          </article>
          {{/each}}
          <div class="field">
            <div class="control">
              <a href="/new-post" class="button is-link is-fullwidth">Create New Post</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{{> footer}}